.wp_body {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat repeat;
  background-attachment: fixed;
  display: block;
  color: #3f3f3f;
}

.wrapper {
  min-height: calc(100vh - 140px);
}
