@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 80px;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 140px;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 80px;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 140px;
  }
}

@-webkit-keyframes bounce_out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 140px;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 80px;
  }
}

@keyframes bounce_out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 140px;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 80px;
  }
}

.wp_body {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat repeat;
  background-attachment: fixed;
  display: block;
  color: #3f3f3f;
}

.wrapper {
  min-height: calc(100vh - 140px);
  position: relative;
}

.wrapper .mc4wp-form-basic {
  color: white;
}

.wrapper .mc4wp-response {
  text-align: center;
  color: white;
}

.wrapper .mc4wp-response .mc4wp-alert.mc4wp-notice {
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.wrapper .mc4wp-response .mc4wp-alert.mc4wp-success {
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.wrapper input[type="email"] {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: .6em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  border: 1px solid #3f3f3f;
  color: #de3252;
  background-color: #fff;
  display: inline-block;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

.wrapper input[type="submit"] {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: .6em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  color: #de3252;
  background-color: #fff;
  display: inline-block;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

.wrapper .sow-contact-form-success {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
  padding: 10px 20px;
}

.wrapper .to-up {
  background-color: #de3252;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 80px;
  right: 30px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  border: 2px solid white;
}

.wrapper .to-up img {
  width: 20px;
}

.wrapper .to-up.show {
  -webkit-animation: bounce 1 .3s forwards;
          animation: bounce 1 .3s forwards;
}

.wrapper .to-up.hide {
  -webkit-animation: bounce_out 1 .3s forwards;
          animation: bounce_out 1 .3s forwards;
}
