.wrapper .woocommerce {
  max-width: 1280px;
  padding: 50px 30px;
  margin: 0 auto;
  background-color: #fff;
}

.wrapper .woocommerce .woocommerce-variation-price {
  margin-bottom: 10px;
}

.wrapper .woocommerce .showcoupon,
.wrapper .woocommerce .reset_variations {
  color: #de3252;
}

.wrapper .woocommerce .mailchimp-newsletter.woocommerce-validated {
  background-color: #de3252;
  color: white;
  padding: 5px;
}

.wrapper .woocommerce .woocommerce-error,
.wrapper .woocommerce .woocommerce-info,
.wrapper .woocommerce .woocommerce-message {
  border-top: 3px solid #de3252;
  background-color: #fff;
}

.wrapper .woocommerce .woocommerce-error::before,
.wrapper .woocommerce .woocommerce-info::before,
.wrapper .woocommerce .woocommerce-message::before {
  color: #de3252;
}

.wrapper .woocommerce .product-name a {
  color: #de3252;
}

.wrapper .woocommerce .onsale {
  background-color: #de3252;
  font-size: 12px;
  padding: 7px;
}

.wrapper .woocommerce .price,
.wrapper .woocommerce .woocommerce-Price-amount,
.wrapper .woocommerce .product .price {
  color: #3f3f3f;
}

.wrapper .woocommerce .single-product,
.wrapper .woocommerce .checkout.woocommerce-checkout,
.wrapper .woocommerce .woocommerce-MyAccount-navigation,
.wrapper .woocommerce .woocommerce-MyAccount-content,
.wrapper .woocommerce .woocommerce-form.woocommerce-form-login.login {
  background-color: #fff;
  padding: 10px;
}

.wrapper .woocommerce .woocommerce-LostPassword a {
  color: #de3252;
}

.wrapper .woocommerce .woocommerce-MyAccount-navigation,
.wrapper .woocommerce .woocommerce-MyAccount-content {
  padding: 10px 40px;
}

.wrapper .woocommerce .woocommerce-MyAccount-navigation a,
.wrapper .woocommerce .woocommerce-MyAccount-content a {
  color: #de3252;
  text-decoration: none;
}

.wrapper .woocommerce .woocommerce-MyAccount-navigation ul,
.wrapper .woocommerce .woocommerce-MyAccount-content ul {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .woocommerce .woocommerce-MyAccount-navigation ul li,
.wrapper .woocommerce .woocommerce-MyAccount-content ul li {
  padding: 5px 10px;
  border: 1px solid white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 3px;
}

.wrapper .woocommerce .woocommerce-MyAccount-navigation ul li.is-active,
.wrapper .woocommerce .woocommerce-MyAccount-content ul li.is-active {
  background-color: #de3252;
  color: white;
  border-radius: 3px;
  border: 1px solid #de3252;
}

.wrapper .woocommerce .woocommerce-MyAccount-navigation ul li.is-active a,
.wrapper .woocommerce .woocommerce-MyAccount-content ul li.is-active a {
  color: white;
}

.wrapper .woocommerce .woocommerce-MyAccount-navigation ul li:hover,
.wrapper .woocommerce .woocommerce-MyAccount-content ul li:hover {
  border: 1px solid #de3252;
}

.wrapper .woocommerce .woocommerce-tabs,
.wrapper .woocommerce .wc-tabs-wrapper,
.wrapper .woocommerce .related.products {
  background-color: #fff;
}

.wrapper .woocommerce .woocommerce-tabs .tabs .description_tab,
.wrapper .woocommerce .woocommerce-tabs .tabs .additional_information_tab,
.wrapper .woocommerce .wc-tabs-wrapper .tabs .description_tab,
.wrapper .woocommerce .wc-tabs-wrapper .tabs .additional_information_tab,
.wrapper .woocommerce .related.products .tabs .description_tab,
.wrapper .woocommerce .related.products .tabs .additional_information_tab {
  color: #fff;
  background-color: #de3252;
}

.wrapper .woocommerce .woocommerce-tabs .tabs .description_tab.active a,
.wrapper .woocommerce .woocommerce-tabs .tabs .additional_information_tab.active a,
.wrapper .woocommerce .wc-tabs-wrapper .tabs .description_tab.active a,
.wrapper .woocommerce .wc-tabs-wrapper .tabs .additional_information_tab.active a,
.wrapper .woocommerce .related.products .tabs .description_tab.active a,
.wrapper .woocommerce .related.products .tabs .additional_information_tab.active a {
  color: #de3252;
}

.wrapper .woocommerce .woocommerce-tabs .tabs .description_tab.active a:hover,
.wrapper .woocommerce .woocommerce-tabs .tabs .additional_information_tab.active a:hover,
.wrapper .woocommerce .wc-tabs-wrapper .tabs .description_tab.active a:hover,
.wrapper .woocommerce .wc-tabs-wrapper .tabs .additional_information_tab.active a:hover,
.wrapper .woocommerce .related.products .tabs .description_tab.active a:hover,
.wrapper .woocommerce .related.products .tabs .additional_information_tab.active a:hover {
  color: #de3252;
}

.wrapper .woocommerce .woocommerce-tabs .tabs .description_tab a,
.wrapper .woocommerce .woocommerce-tabs .tabs .additional_information_tab a,
.wrapper .woocommerce .wc-tabs-wrapper .tabs .description_tab a,
.wrapper .woocommerce .wc-tabs-wrapper .tabs .additional_information_tab a,
.wrapper .woocommerce .related.products .tabs .description_tab a,
.wrapper .woocommerce .related.products .tabs .additional_information_tab a {
  color: #fff;
}

.wrapper .woocommerce .woocommerce-tabs .tabs .description_tab a:hover,
.wrapper .woocommerce .woocommerce-tabs .tabs .additional_information_tab a:hover,
.wrapper .woocommerce .wc-tabs-wrapper .tabs .description_tab a:hover,
.wrapper .woocommerce .wc-tabs-wrapper .tabs .additional_information_tab a:hover,
.wrapper .woocommerce .related.products .tabs .description_tab a:hover,
.wrapper .woocommerce .related.products .tabs .additional_information_tab a:hover {
  color: white;
}

.wrapper .woocommerce ul.products li.product {
  background-color: white;
  text-align: center;
}

.wrapper .woocommerce ul.products li.product .woocommerce-LoopProduct-link.woocommerce-loop-product__link .attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.wrapper .woocommerce ul.products li.product .woocommerce-loop-product__title {
  color: #de3252;
  text-align-last: left;
  padding: 10px 15px;
}

.wrapper .woocommerce ul.products li.product .price {
  padding: 0px 15px;
  text-align: left;
  color: #3f3f3f;
}

.wrapper .woocommerce ul.products li.product .added_to_cart {
  padding: 10px;
  color: white;
  background-color: #de3252;
  margin-bottom: 10px;
  border-radius: 5px;
}

.wrapper .woocommerce .woocommerce-pagination .page-numbers {
  background-color: #fff;
  border: none;
}

.wrapper .woocommerce .woocommerce-pagination .page-numbers li {
  border: none;
  font-size: 18px;
}

.wrapper .woocommerce .woocommerce-pagination .page-numbers li a {
  color: #525151;
}

.wrapper .woocommerce .woocommerce-pagination .page-numbers li .current {
  background-color: #de3252;
  color: white;
}

.wrapper .woocommerce .shop_table,
.wrapper .woocommerce .cart-collaterals {
  background-color: #fff;
  padding: 10px;
}

.wrapper .woocommerce .quantity .qty,
.wrapper .woocommerce .input-text {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: .6em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  border: 1px solid #3f3f3f;
  color: #3f3f3f;
  background-color: transparent;
  display: inline-block;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

.wrapper .woocommerce .button {
  margin-bottom: 10px;
  border: 1px solid #de3252;
  background-color: #fff;
  color: #de3252;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.wrapper .woocommerce .button:hover {
  color: #fff;
  background-color: #de3252;
}

.wrapper .woocommerce .button.checkout-button, .wrapper .woocommerce .button.button.alt {
  background-color: #de3252;
  color: #fff;
}

.wrapper .woocommerce .posted_in {
  color: #3f3f3f;
}

.wrapper .woocommerce .posted_in a {
  color: #de3252;
}
