$font: "Montserrat";
$font-color: #de3252;
$text-color: #3f3f3f;
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: $font, serif;
}

.main-header {
    position: relative;
    .header-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 100;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px 40px;
        background: white;
        position: relative;
        z-index: 20;
        .brand-logo {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            z-index: 10;
            .main-logo {
                height: 40px;
                width: auto;
            }
        }
        .mobile-button {
            display: none;
        }
        .menu-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            z-index: 1;
            .menu-cont {
                >ul {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    padding: 0;
                    margin: 0;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    list-style: none;
                    text-transform: uppercase;
                    >.menu-item {
                        padding: 10px 14px;
                        border-radius: 5px;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        margin-right: 5px;
                        &:hover,
                        &.current_page_item {
                            background-color: $font-color;
                            color: white;
                            a {
                                color: white;
                            }
                        }
                        &:hover {
                            .sub-menu {
                                top: 100%;
                            }
                        }
                        a {
                            color: $text-color;
                            text-decoration: none;
                            font-style: normal;
                            font-size: 14px;
                            -webkit-transition: all 0.3s;
                            transition: all 0.3s;
                        }
                        .sub-menu {
                            transition: 0.3s all;
                            position: absolute;
                            background-color: #fff;
                            top: -200%;
                            width: 100%;
                            left: 0;
                            padding: 30px 14px;
                            display: flex;
                            li {
                                list-style: none;
                                padding: 10px;
                                font-weight: bold;
                                a {
                                    font-size: 30px;
                                    color: #3f3f3f;
                                }
                            }
                        }
                    }
                }
            }
            .contain-search {
                padding: 10px;
                position: relative;
                margin-right: 10px;
                img {
                    width: 16px;
                }
            }
        }
        .container-cuenta {
            position: absolute;
            right: 40px;
            top: 100%;
            .contain-account {
                // position: absolute;
                text-transform: uppercase;
                top: calc(100%);
                z-index: 10;
                background-color: #3f3f3f;
                color: white;
                font-size: 13px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                left: calc(100% - 200px);
                padding: 12px 10px;
                min-width: 110px;
                letter-spacing: -1px;
                border-radius: 0px 0px 8px 8px;
                img {
                    width: 12.5px;
                    margin: 0px 3px;
                }
                a {
                    text-decoration: none;
                    color: white;
                }
                .column {
                    padding: 0px 3px;
                }
            }
        }
    }
}

.contain-search-bar {
    padding: 0px 20px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    overflow: hidden;
    height: 0;
    width: 0;
    transition: all 0.3s;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0% 0% 0% 40%;
    &.act {
        width: 100%;
        height: 100vh;
    }
    li {
        list-style: none;
        width: 100%;
        h2 {
            display: none;
        }
        form,
        form.woocommerce-product-search {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
            input,
            .search-field {
                height: 54px;
                padding: 10px;
                font-size: 32px;
                // border: 1px solid $text-color;
                border: none;
                font-family: $font, serif;
                border-radius: 2px;
                width: calc(100% - 140px);
                position: relative;
                &:before {
                    position: absolute;
                    left: -54px;
                    top: 0;
                    content: "";
                    width: 54px;
                    height: 54px;
                    background-image: url('../img/search.png');
                    background-size: cover;
                }
            }
            input[type="submit"],
            button {
                height: 55px;
                width: 140px;
                border-radius: 2px;
                text-align: center;
                padding: 9px 10px !important;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: $font-color;
                color: white;
                border: none;
            }
        }
    }
}

@media screen and (max-width: 880px) {
    .contain-search-bar {
        padding: 0px 20px;
        position: absolute;
        left: 10%;
        top: 100%;
        height: 0;
        background-color: #fff;
        overflow: hidden;
        width: calc(90% - 40px);
        transition: all 0.3s;
        z-index: 100;
        border-top: none;
        &.act {
            padding: 8px 20px;
            height: auto;
            top: calc(100% + 1px);
        }
        li {
            list-style: none;
            h2 {
                display: none;
            }
            form,
            form.woocommerce-product-search {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                input,
                .search-field {
                    height: 34px;
                    padding: 10px;
                    font-size: 12px;
                    border: 1px solid $text-color;
                    font-family: $font, serif;
                    border-radius: 2px;
                    width: calc(100% - 100px);
                }
                input[type="submit"],
                button {
                    height: 35px;
                    width: 90px;
                    border-radius: 2px;
                    text-align: center;
                    padding: 9px 10px !important;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-color: $font-color;
                    color: white;
                    border: none;
                }
            }
        }
    }
    .main-header {
        max-width: 100%;
        position: relative;
        .header-content {
            .mobile-button {
                cursor: pointer;
                width: 30px;
                height: 20px;
                padding: 5px 0;
                background-color: $font-color;
                border-radius: 8px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                .bars {
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    background-color: #fff;
                    width: 80%;
                    height: 2px;
                    margin: 2px auto;
                }
            }
            .container-cuenta {
                z-index: 1;
                position: absolute;
                left: -100%;
                width: 100%;
                top: 100%;
                opacity: 0;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                display: block;
                &.act {
                    opacity: 1;
                    left: 0%;
                    .menu-cont {
                        ul {
                            -webkit-transform: translateX(0px);
                            transform: translateX(0px);
                            opacity: 1;
                        }
                    }
                    .contain-account {
                        top: 100%;
                        opacity: 1;
                    }
                }
                .contain-account {
                    top: 0%;
                    opacity: 0;
                    -webkit-transition-delay: 0.5s;
                    transition-delay: 0.5s;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                }
                .menu-cont {
                    position: relative;
                    z-index: 100;
                    -webkit-transition-delay: 1s;
                    transition-delay: 1s;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    background-color: #fff;
                    ul {
                        -webkit-transform: translateX(40px);
                        transform: translateX(40px);
                        -webkit-transition-delay: .4s;
                        transition-delay: .4s;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        display: block;
                        padding: 10px;
                        opacity: 0;
                        li {
                            margin: 3px 0px;
                        }
                    }
                }
                .contain-search {
                    padding: 15px 10px;
                    position: relative;
                    width: calc(100% - 20px);
                    background-color: #fff;
                    border-top: 1px solid $font-color;
                    img {
                        width: 18px;
                    }
                }
            }
            .brand-logo {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                .main-logo {
                    height: 22px;
                    width: auto;
                }
            }
        }
    }
}