$font-color: #de3252;
$text-color: #3f3f3f;
.wrapper {
    .woocommerce {
        max-width: 1280px;
        padding: 50px 30px;
        margin: 0 auto;
        .woocommerce-variation-price {
            margin-bottom: 10px;
        }
        .showcoupon,
        .reset_variations {
            color: $font-color;
        }
        .mailchimp-newsletter.woocommerce-validated {
            background-color: $font-color;
            ;
            color: white;
            padding: 5px;
        }
        .woocommerce-error,
        .woocommerce-info,
        .woocommerce-message {
            border-top: 3px solid $font-color;
            background-color: #fff;
            &::before {
                color: $font-color;
            }
        }
        .product-name {
            a {
                color: $font-color;
            }
        }
        .onsale {
            background-color: $font-color;
            font-size: 12px;
            padding: 7px;
        }
        .price,
        .woocommerce-Price-amount,
        .product .price {
            color: $text-color;
        }
        .single-product,
        .checkout.woocommerce-checkout,
        .woocommerce-MyAccount-navigation,
        .woocommerce-MyAccount-content,
        .woocommerce-form.woocommerce-form-login.login {
            background-color: #fff;
            padding: 10px;
        }
        .woocommerce-LostPassword {
            a {
                color: $font-color;
            }
        }
        .woocommerce-MyAccount-navigation,
        .woocommerce-MyAccount-content {
            padding: 10px 40px;
            a {
                color: $font-color;
                text-decoration: none;
            }
            ul {
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: space-between;
                li {
                    padding: 5px 10px;
                    border: 1px solid white;
                    transition: all 0.2s;
                    border-radius: 3px;
                    &.is-active {
                        background-color: $font-color;
                        color: white;
                        border-radius: 3px;
                        border: 1px solid $font-color;
                        a {
                            color: white;
                        }
                    }
                    &:hover {
                        border: 1px solid $font-color;
                    }
                }
            }
        }
        .woocommerce-tabs,
        .wc-tabs-wrapper,
        .related.products {
            background-color: #fff;
            .tabs {
                .description_tab,
                .additional_information_tab {
                    color: #fff;
                    background-color: $font-color;
                    &.active {
                        a {
                            color: $font-color;
                            &:hover {
                                color: $font-color;
                            }
                        }
                    }
                    a {
                        color: #fff;
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
        ul.products {
            li.product {
                background-color: white;
                text-align: center;
                .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
                    .attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
                        width: 90%;
                        margin: 0 auto;
                        margin-top: 10px;
                    }
                }
                .woocommerce-loop-product__title {
                    color: $font-color;
                    text-align-last: left;
                    padding: 10px 15px;
                }
                .price {
                    padding: 0px 15px;
                    text-align: left;
                    color: $text-color;
                }
                .added_to_cart {
                    padding: 10px;
                    color: white;
                    background-color: $font-color;
                    margin-bottom: 10px;
                    border-radius: 5px;
                }
            }
        }
        .woocommerce-pagination {
            .page-numbers {
                background-color: #fff;
                border: none;
                li {
                    border: none;
                    font-size: 18px;
                    a {
                        color: #525151;
                    }
                    .current {
                        background-color: $font-color;
                        color: white;
                    }
                }
            }
        }
        .shop_table,
        .cart-collaterals {
            background-color: #fff;
            padding: 10px;
        }
        .quantity .qty,
        .input-text {
            font-size: 100%;
            margin: 0;
            line-height: 1;
            cursor: pointer;
            position: relative;
            text-decoration: none;
            overflow: visible;
            padding: .6em 1em;
            font-weight: 700;
            border-radius: 3px;
            left: auto;
            border: 1px solid $text-color;
            color: $text-color;
            background-color: transparent;
            display: inline-block;
            background-image: none;
            box-shadow: none;
            text-shadow: none;
        }
        .button {
            margin-bottom: 10px;
            border: 1px solid $font-color;
            background-color: #fff;
            color: $font-color;
            transition: all 0.2s;
            &:hover {
                color: #fff;
                background-color: $font-color;
            }
            &.checkout-button,
            &.button.alt {
                background-color: $font-color;
                color: #fff;
            }
        }
        .posted_in {
            color: $text-color;
            a {
                color: $font-color;
            }
        }
    }
}